@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Figtree';
  src: url('./fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('./fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  @apply bg-fuchsia-200;
  font-family: 'Figtree', Arial, sans-serif;
}

/* Custom Scrollbar Styles */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #b6b6b6 transparent;
}

.scrollbar::-webkit-scrollbar {
  width: 0.5rem;
  @apply rounded-r;
  @apply bg-purple-300;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-r;
  @apply bg-blue-400;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
