:root {
  /* Default theme */
  --color-dark: #333333;
  --color-light: #f8f9fa;
  --color-1: #e63946;
  --color-2: #f4a261;
  --color-3: #2a9d8f;
  --color-4: #264653;
  --color-5: #e9c46a;
  --color-red: #d62828;
  --color-green: #2a9d8f;
  --color-blue: #457b9d;
}

[color-theme="theme2"] {
  /* Second theme */
  --color-dark: #282c34;
  --color-light: #ffffff;
  --color-1: #ff595e;
  --color-2: #ffca3a;
  --color-3: #8ac926;
  --color-4: #1982c4;
  --color-5: #6a4c93;
  --color-red: #e63946;
  --color-green: #058c42;
  --color-blue: #0077b6;
}
